*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: cornflowerblue;
    font-family:'Courier New', Courier, monospace;
}

form{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 360px;
    height: 400px;
    border-radius: 6px;
    padding: 20px 30px;
    align-items: center;
    justify-content: center;
}

form h1{
    color: cornflowerblue;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

form h2{
    color: cornflowerblue;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}


#botao{
    display: flex;
    width: 8rem;
    height: 3rem;
    background-color: cornflowerblue;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13.3px;
    box-shadow: 0px 5px 20px 0px rgba(17, 219, 238, 0.349);
    transition: 300ms ease-in-out;    
    align-self: center;
    cursor: pointer;
}

#botao:hover{
    background-color: cornflowerblue;
    color: white;
    box-shadow: 0px 5px 20px 5px rgba(17, 219, 238, 0.349);
    transition: 300ms ease-in-out;
}